html {
  height: 100%;
}
body {
  min-height: 100%;
}

:root {
  --header-bg: #222831;
  --header-shadow: transparent;
  --header-text: #eee;
  --hero-bg: #131c21;
  --hero-text: #eee;
  --make-list: #00adb5;
  --intro-bg: #222831;
  --intro-text: #eee;
  --card-bg: #00adb5;
  --contact-bg: #131c21;
  --contact-text: #eee;
  --footer-bg: #222831;
  --footer-text: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  height: 50px;
  padding: 0 40px;
  border-bottom: 1px solid var(--header-shadow);
}

.bar i {
  color: white;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: block;
}

.brand {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a {
  text-decoration: none;
  font-size: 18px;
  color: var(--header-text);
}

.dark-btn,
.light-btn {
  cursor: pointer;
}

.nav-control {
  display: flex;
}

.register-link {
  margin-left: 30px;
}

.register-link a,
.login-link a,
.dashboard-link a {
  text-decoration: none;
  color: var(--header-text);
}

.home {
  margin-top: 50px;
}

.hero-section {
  padding: 7rem 0;
  background-color: var(--hero-bg);
}

.hero-title {
  font-size: 50px;
  color: var(--hero-text);
}

.hero-subtitle {
  margin: 24px 0 30px 0;
  font-size: 18px;
  color: var(--hero-text);
}

.make-btn {
  width: 200px;
  height: 50px;
  background-color: var(--make-list);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 60px;
  color: white;
  box-shadow: none;
}

.make-btn:hover {
  color: white;
}

.intro-section {
  background-color: var(--intro-bg);
  padding: 7rem 0;
}

.intro-title {
  font-size: 36px;
  color: var(--intro-text);
}

.intro-text {
  font-size: 18px;
  margin: 2rem 0;
  color: var(--intro-text);
}

.card-container {
  margin-top: 75px;
}

.card-col {
  min-height: 250px !important;
}

.home-card {
  background-color: var(--card-bg);
}

.card-col i {
  font-size: 42px;
  color: var(--intro-text);
}

.card-col p {
  font-size: 18px;
  color: var(--intro-text);
}

.home-card .card-body {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-section {
  padding: 7rem 0;
  background-color: var(--contact-bg);
}

.contact-title {
  font-size: 36px;
  margin-bottom: 2rem;
  color: var(--contact-text);
}

.contact-text {
  font-size: 18px;
  color: var(--contact-text);
}

label {
  color: var(--contact-text);
}

.contact-text:nth-of-type(2) {
  margin-bottom: 2.5rem !important;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--header-shadow);
  background-color: var(--footer-bg);
}

.author {
  color: var(--footer-text);
}

/* login */

.login,
.register {
  height: 100vh;
  padding-top: 50px;
  background-color: var(--hero-bg);
}

.login .container,
.register .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content,
.register-content {
  width: 100%;
}

.login-title,
.register-title {
  color: var(--intro-text);
}

/* dashboard */

.dashboard {
  height: 100vh;
  background-color: var(--hero-bg);
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: var(--header-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
}

.username,
.current-projects-title,
.project-icon i,
.project-list-title,
.delete-project i {
  color: var(--header-text);
}

.current-projects {
  margin-top: 7rem;
}

.current-projects-title {
  font-size: 18px;
}

.project-list-item {
  padding: 0.4rem;
  cursor: pointer;
}

.project-list-item:hover {
  background-color: var(--hero-bg);
}

.project-icon i {
  margin-right: 10px;
}

.delete-project i {
  cursor: pointer;
}

.project-list-item,
.project-info {
  display: flex;
  align-items: center;
}

.add-project {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 0.3rem;
}

.add-project:hover {
  background-color: var(--hero-bg);
}

.add-project i,
.add-project-title {
  color: var(--header-text);
}

.add-project i {
  margin-right: 10px;
}

.logout {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.logout i,
.logout-btn {
  color: var(--header-text);
}

.logout i {
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  width: 100%;
}

.content-list {
  width: 75%;
}

.project-title {
  color: var(--header-text);
  font-size: 32px;
}

.project-editing {
  margin-bottom: 2rem !important;
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--header-text);
  font-size: 32px;
  text-align: center;
  padding: 0;
}

.dashboard-header,
.dashboard-body,
.dashboard-footer {
  background-color: var(--intro-bg);
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.dashboard-footer {
  padding: 0.7rem 1rem;
}

.dashboard-header i {
  color: var(--make-list);
  margin-left: 10px;
  cursor: pointer;
}

.dashboard-header input {
  flex: 1;
  height: 40px;
  background-color: var(--hero-bg);
  border: none;
  outline: none;
  color: var(--header-text);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.dashboard-body ul {
  width: 100%;
}

.dashboard-body ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.task-handle {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-check {
  margin-right: 10px;
}

.task-control i {
  margin-left: 10px;
}

.dashboard-footer button {
  height: 30px;
  border: none;
  outline: none;
}

.filter-group {
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-group button {
  max-width: 75px;
  width: 100%;
  background-color: transparent;
  color: var(--header-text);
  border: 1px solid var(--make-list);
}

.filter-group button.filter-active {
  background-color: var(--make-list);
  color: var(--header-text);
  border: 1px solid var(--make-list);
}

.clear-btn {
  max-width: 75px;
  width: 100%;
  background-color: #bb2d3b;
  border: 1px solid blue;
  color: white;
}

.dashboard-body ul {
  height: 350px;
  overflow: auto;
  padding-right: 0.3rem;
}

.input-editing {
  width: 100%;
  padding: 0;
  border: none;
  height: 30px;
}

.done {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}

.nav-sidebar {
  display: none;
}

.mobile-sidebar {
  display: none;
}

.selected-content i {
  display: none;
}

.selected-content {
  margin-bottom: 2rem;
}

.task-control .fa-edit {
  display: none;
}

.task-title {
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .bar i {
    display: block;
  }

  .nav-menu {
    background-color: var(--header-bg);
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 50px;
    right: -100%;
    padding: 2rem;
    transition: right 0.3s ease;
    border-top: 1px solid var(--make-list);
  }

  .nav-menu.opened {
    right: 0;
  }

  .nav-control {
    flex-direction: column;
  }

  .register-link {
    margin: 0;
  }

  .hero-title {
    font-size: 32px;
  }

  .make-btn {
    width: 150px;
  }

  .intro-title {
    font-size: 32px;
  }

  .intro-text {
    width: 75% !important;
  }

  .card-col:nth-of-type(2) {
    margin: 30px 0;
  }

  .contact-title {
    font-size: 32px;
  }

  .contact-text {
    width: 75% !important;
    margin: 0 auto;
  }

  .content {
    margin-left: 0;
  }

  .sidebar {
    display: none;
  }

  .content-list {
    width: 90%;
  }

  .filter-group button,
  .clear-btn {
    font-size: 14px;
  }

  .clear-btn {
    max-width: 64px;
    padding: 0;
  }

  .dashboard-header {
    padding: 0.5rem !important;
  }

  .dashboard-body {
    padding: 0.5rem !important;
  }

  .dashboard-footer {
    padding: 0.5rem !important;
  }

  .task-list {
    padding-right: 0 !important;
  }

  .input-text {
    height: 35px !important;
  }

  .project-title {
    font-size: 28px;
  }

  .project-editing {
    font-size: 28px;
    margin-bottom: 1rem !important;
    font-weight: 500;
    height: 35px;
  }

  .mobile-sidebar {
    background-color: var(--header-bg);
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .mb-logo a {
    text-decoration: none;
    font-size: 18px;
    color: var(--header-text);
  }

  .dashboard {
    flex-direction: column;
  }

  .content {
    height: 100%;
  }

  .mb-sidebar-content {
    background-color: var(--intro-bg);
    border-top: 1px solid var(--make-list);
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    right: -100%;
    z-index: 999;
    width: 275px;
    transition: right 0.3s ease;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .mb-sidebar-content.opened {
    right: 0;
  }

  .selected-content {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
    max-width: 450px;
  }

  .selected-content i {
    color: var(--header-text);
    position: absolute;
    right: 4px;
    display: block;
    cursor: pointer;
  }

  .task-control .fa-edit {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
  .card-col:nth-of-type(2) {
    margin: 0;
  }

  .card-container {
    width: 100% !important;
  }

  .make-btn {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
}
